<h1 class="text-center">Todos los articulos</h1>
<div class="container">
    <p> <%= notice %> </p>
    <p> <h2> <%= link_to "Crear Nuevo", new_article_path %> </h2> </p>
</div>

<div class="container">
  <table border = "1" class="table table-hover table-responsive">
    <tr class="table-secondary">
      <th> Titulo </th>
      <th> Body </th>
      <th> Imagen </th>
      <th> Categorias </th>
      <th> Enlaces </th>
    </tr>
    <%= render @articles %>
  </table>
  <div class="container">
    <div class="flickr_pagination text-center" style="margin-top: 20px; margin-bottom: 20px">
      <%= will_paginate @articles %>
    </div>
   </div>
</div>