<div class="row">
  <% if !@articles.blank? %>
    <% @articles.each do |art| %>
      <div class="col-md-4">
          <div class="jumbotron ">
            <h1><%= art.title%></h1>
            <p> <%= art.body %></p>
            <p><%= link_to "Ver más", art, class: " btn btn-success" %></p>
          </div>
      </div>
    <% end %>
  <%else %>
  <div class="jumbotron">
    <div class="container">
      <h1> No sen encontro ningún artículo relacionado con: <%= "\"#{params[:search]}\"" %>
       </h1>
    </div>
  </div>
  <% end %>
</div>