<div class="container-fluid">
    <div class="row">

        <div class="col-md-8 color-a">
            <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae asperiores dolorum, illo culpa. In voluptatem voluptas, obcaecati debitis odio, nesciunt quos ad labore expedita temporibus excepturi doloribus, delectus natus sapiente.
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos ratione perferendis qui et, cupiditate, impedit commodi voluptatem neque. Accusantium, quibusdam, nihil. Officiis nobis delectus, eaque nesciunt expedita quam ratione. Voluptas.
            </p>
        </div>
        <div class="col-md-4 color-b">
            <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae asperiores dolorum, illo culpa. In voluptatem voluptas, obcaecati debitis odio, nesciunt quos ad labore expedita temporibus excepturi doloribus, delectus natus sapiente.
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos ratione perferendis qui et, cupiditate, impedit commodi voluptatem neque. Accusantium, quibusdam, nihil. Officiis nobis delectus, eaque nesciunt expedita quam ratione. Voluptas.
            </p>
        </div>
        <div class="col-md-6 color-d">
            <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae asperiores dolorum, illo culpa. In voluptatem voluptas, obcaecati debitis odio, nesciunt quos ad labore expedita temporibus excepturi doloribus, delectus natus sapiente.
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos ratione perferendis qui et, cupiditate, impedit commodi voluptatem neque. Accusantium, quibusdam, nihil. Officiis nobis delectus, eaque nesciunt expedita quam ratione. Voluptas.
            </p>
        </div>

        <div class="col-md-6 color-d">
            <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae asperiores dolorum, illo culpa. In voluptatem voluptas, obcaecati debitis odio, nesciunt quos ad labore expedita temporibus excepturi doloribus, delectus natus sapiente.
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos ratione perferendis qui et, cupiditate, impedit commodi voluptatem neque. Accusantium, quibusdam, nihil. Officiis nobis delectus, eaque nesciunt expedita quam ratione. Voluptas.
            </p>
        </div>

    </div>
</div>