<h1 class ="text-center"> Bienvenido </h1>

<h2>Donde desea ir?</h2>

<div class = "jumbotron">
    <tr>
        <td> <%= link_to "Articulos", articles_path %> </td>
        <td> <%= link_to "Votaciones", polls_path %> </td>
        <td> <%= link_to "Categorias", categories_path %> </td>
    </tr>
</div>

